#pipe1{
	width: 492px;
	height: 100px;
	background-color: lightskyblue;
}
#pipe2 {
	position: absolute;
	width: 800px;
	height: 30px;
	background-color: lightskyblue;
	left: 500px;
	top: 68px;
}
#pipe1, #pipe2 {
	z-index: 1;
	text-align: center;
	padding: 0px;
}
#inputs {
	position: absolute;
	top: 280px;
	display: flex;
	flex-wrap: wrap;
}
#inputs div{
	width: 600px;
	justify-content: space-evenly;
}
#connection {
	position: absolute;
	top: 68px;
	left: 400px;
	width: 100px;
	border-right: 100px solid transparent;
}
#pressure-detector {
	width: 1290px;
	height: 20px;
	margin-bottom: 40px;
}
#pressure-detector > input {
	width: 1290px;
}
#pressure-tip {
	position: relative;
	background-color: red;
	display: inline-block;
	padding: 0px 5px 0px 5px;
	text-align: center;
	height: 20px;
	z-index: 2;
}
#pressure-line {
	position: relative;
	height: 100px;
	width: 5px;
	background-color: lightsalmon;
	top: 15px;
	z-index: 3;
}