#pipe1{
	width: 600px;
	height: 100px;
	background-color: lightskyblue;
	position: relative;
	z-index: 2;
}
#pipe2 {
	width: 800px;
	height: 100px;
	background-color: lightskyblue;
	position: relative;
	left: 500px;
	top: -100px;
	z-index: 1;
}
#pipe1, #pipe2 {
	text-align: center;
	padding: 0px;
}
#pipe2 svg {
	margin-left: 100px;
}
#connection {
	height: 200px;
	width: 100px;
	background-color: lightskyblue;
	position: relative;
	top: -100px;
	left: 500px;
}
#pressure-detector {
	width: 1290px;
	height: 20px;
	margin-bottom: 40px;
}
#pressure-detector > input {
	width: 1290px;
}
#pressure-tip {
	position: relative;
	background-color: red;
	display: inline-block;
	padding: 0px 5px 0px 5px;
	text-align: center;
	height: 20px;
	z-index: 2;
}
#pressure-line {
	position: relative;
	height: 100px;
	width: 5px;
	background-color: lightsalmon;
	/* top: 15px; */
	z-index: 3;
}