#pipe1{
	width: 600px;
	height: 100px;
	background-color: lightskyblue;
	position: relative;
	z-index: 2;
}
#pipe2 {
	width: 800px;
	height: 100px;
	background-color: lightskyblue;
	position: relative;
	left: 500px;
	top: -100px;
	z-index: 1;
}
#pipe1, #pipe2 {
	text-align: center;
	padding: 0px;
}
#pipe2 svg {
	margin-left: 100px;
}
#connection {
	height: 200px;
	width: 100px;
	background-color: lightskyblue;
	position: relative;
	top: -100px;
	left: 500px;
}
.pressure {
	background-color: green;
	width: 10px;
	height: 50px;
}